@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

:root {
  /* Fonts */
  --ff-primary: "Poppins", sans-serif;

  --fw-light: 300;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Colors */

  --bgc-header: #44403c;
  --c-header: #fafaf9;

  --bgc-nav: #e7e5e4;
  --c-nav: #292524;
  --bgc-nav-selected: #d6d3d1;
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--ff-primary);
  height: 100vh;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100px auto;
}

header {
  grid-column: 1 / span 2;
  font-size: 3.5em;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: var(--bgc-header);
  color: var(--c-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 2rem;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--c-nav);
  background-color: var(--bgc-nav);
}

.header-nav-ul {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  display: none;
}

.your-projects {
  font-weight: 700;
}

.projects-ul {
  display: none;
}

.inbox:hover,
.today:hover,
.this-week:hover,
.add-project-btn:hover {
  background-color: var(--bgc-nav-selected);
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 2em;
  grid-column: 1;
  grid-row: 2;
  background-color: var(--bgc-nav);
}

.sidebar-nav-ul {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}

.sidebar-nav-ul li,
.add-project-btn {
  padding: 0.5rem;
  border-radius: 5px;
  text-align: left;
  width: 100%;
}

.your-projects {
  font-size: 1.5em;
  padding: 0.5rem;
}

.add-project-btn {
  font-size: 2rem;
  padding: 0.5rem;
}

main {
  grid-column: 2;
  grid-row: 2;
  padding: 1.5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

@media screen and (max-width: 767px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  header {
    font-size: 2em;
    padding: 1rem 2rem;
  }

  .header-nav-ul {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    display: none;
    width: 100%;
  }

  .header-nav-ul li {
    padding: 0.5rem;
    border-radius: 5px;
    text-align: left;
    width: 100%;
  }

  .your-projects {
    font-size: 1.3em;
    padding: 0.5rem;
  }

  .header-nav-ul.show {
    display: flex;
  }

  .add-project-btn {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  .sidebar {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

button {
  border: none;
  background-color: transparent;
}
