@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

:root {
  /* Fonts */
  --ff-primary: "Poppins", sans-serif;

  --fw-light: 300;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Colors */

  --bgc-header: #44403c;
  --c-header: #fafaf9;

  --bgc-nav: #d6d3d1;
  --c-nav: #292524;
  --bgc-nav-selected: #a8a29e;
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--ff-primary);
  height: 100vh;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100px auto;
}

header {
  grid-column: 1 / span 2;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: var(--bgc-header);
  color: var(--c-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 2rem;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--c-nav);
  background-color: var(--bgc-nav);
}

.header-nav-ul {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  display: none;
}

.your-projects {
  font-weight: 500;
}

.projects-ul {
  display: none;
}

.add-task-btn:hover {
  cursor: pointer;
}

.inbox:hover,
.today:hover,
.this-week:hover,
.add-project-btn:hover {
  background-color: var(--bgc-nav-selected);
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 2rem;
  grid-column: 1;
  grid-row: 2;
  background-color: var(--bgc-nav);
}

.sidebar-nav-ul {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}

.sidebar-nav-ul li,
.add-project-btn {
  padding: 0.5rem;
  border-radius: 5px;
  text-align: left;
  width: 100%;
}

.your-projects {
  font-size: 2.5rem;
  padding: 0.5rem;
}

.add-project-btn {
  font-size: 2rem;
  padding: 0.5rem;
}

.add-task-add-btn:hover,
.add-task-cancel-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.removeBtn:hover {
  transform: scale(1.5);
  font-weight: 700;
  cursor: pointer;
}

main {
  grid-column: 2;
  grid-row: 2;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.add-task-input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.input-container {
  display: grid;
  gap: 1rem;
}

#due-date {
  padding: 0.35rem;
}

.add-task-input-container input {
  font-size: 1.5rem;
  padding: 0.4rem;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: var(--bgc-nav);
  width: 300px;
}

.add-task-input-container input:focus,
input:hover {
  border: 2px solid var(--bgc-header);
  outline: 2px solid var(--bgc-header);
  background-color: #fff;
}

.add-task-btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.add-task-btn,
.add-task-add-btn,
.add-task-cancel-btn {
  font-size: 1.75rem;
}

.task-container {
  margin-top: 15px;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fill, min-content);
  gap: 1rem;
}

.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  height: fit-content;
  width: 100%;
  padding: 0.5rem 1.5rem;
  background-color: var(--bgc-nav);
  font-size: 1.5rem;
}

.task-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.removeBtn {
  font-size: 1.2rem;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

@media screen and (max-width: 796px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  header {
    font-size: 2rem;
    padding: 1rem 2rem;
  }

  .header-nav-ul {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    display: none;
    width: 100%;
  }

  .header-nav-ul li {
    padding: 0.5rem;
    border-radius: 5px;
    text-align: left;
    width: 100%;
  }

  .your-projects {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .header-nav-ul.show {
    display: flex;
  }

  .add-project-btn {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .add-task-input-container input {
    width: 200px;
  }

  .sidebar {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

button {
  border: none;
  background-color: transparent;
}
